<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Benlu</title>
     <link rel="stylesheet" th:href="@{/home.css}" />
      <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" />
  </head>
  
  <body>

     <header>
            <nav class="">
                <div class="row">
                    <img src="/images/Logo.png" alt="Benlu  logo" class="logo">
                    
                  
              
                </div>
            </nav>
            <div class="hero-text-box">
            <br>
            <br>
            <br>
            <br>
            
                <h1>Welcome to Benlu Collars.
                    <br>
                    <br>
                    Design your perfect collar! </h1>
                    <br>
                    <br>
                    
                     <input type="submit" value="Logout"/>
    </form>
    
    <a th:href="@{/design}" id="design">Design a collar</a>
                    
            
                
            </div>
            
        </header>
     
  
  

    
   
     
  </body>
</html>